.searchPageWrapper
{
  display:flex;
  justify-content: center;
  align-items: flex-start;

}
.searchPageLeft
{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex-wrap: wrap;
  width:20%;
  margin-left: 10px;

}
.searchPageRight
{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width:80%;
  margin-right: 10px;
  margin-left:25px;


}

.resultsTable
{
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding-left:10px;
  padding-right:10px;
  width:100%;
  box-shadow: 2px 2px 2px black;
}
.titleLink{
  text-decoration: none;
  color:white;
}
.titleLinkSmall{
  text-decoration: none;
  color:white;
  font-size:12pt;
}
.detailOptions{
  background-color: #66b3ff;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  width:100%;
  text-shadow: 1px 1px 1px black;
  padding:10px;
  align-items: flex-end;
  text-align: right;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;

}
.detailItem{
  width:100%;
  display:flex;
  text-align: right;
  margin-bottom:5px;
}
.noListing{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding:25px;
    width:100%;
    flex-flow: row wrap;
    background-color: #66b3ff;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    padding-top:10px;
    margin-bottom:5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;

}
.eachListing{
  display:flex;
  align-items: center;
  width:100%;
  flex-flow: row wrap;
  background-color: #66b3ff;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;

  margin-bottom:15px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;

}
.eachlistingpending{
  display:flex;
  align-items: center;
  width:100%;
  flex-flow: row wrap;
  background-color: grey;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;

  margin-bottom:15px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;

}
.pendingFlag{
  align-items: center;
  justify-content: center;
  display:flex;
  width:100%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;
  background-color: blue;

}
.eachAttribute{
  display:flex;
  flex:100% ;
  background-color: white;
  color: black;
  text-shadow: none;
  font-size:12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.eachAttributeTitle{
  align-items: center;
  justify-content: center;
  display:flex;
  width:100%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;

}
.eachAttributeTitleDisabled{
  align-items: center;
  justify-content: center;
  display:flex;
  width:100%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;
  background-color: black;

}
.eachAttributeSellerCost{
  align-items: center;
  justify-content: center;
  display:flex;
  width:100%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}
