
html,
body {
<<<<<<< HEAD

  padding: 0px;
  margin: 0px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  /*background-color: #FFFAFA;*/
  
  /*Black/grey dotted pattern*/
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

=======
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cce6ff;
>>>>>>> master
}


a {
  color: #00B7FF;
}
.navLink.a{
  color:white;
<<<<<<< HEAD
=======


}
img{
  display: block;
  max-width: 65%;
  width:auto;
  height:auto;

}
.logoImg{
  display:flex;
  width:65%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
>>>>>>> master
}

.flexwrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding:10px;
<<<<<<< HEAD
=======
  width:100%;
>>>>>>> master

}
.searchPageWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}
.searchPageLeft{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width:20%;

}
.searchPageRight{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width:80%;

}
.searchwrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  padding:10px;
  border: 1px solid black;
<<<<<<< HEAD

  background-color: #DCDCDC;

  border: 1px solid #303030;
=======
  background-color: #66b3ff;
  color: white;
  border: 1px solid #80bfff;
>>>>>>> master
  text-align: center;
  padding:25px;
  height: 75px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:24px;
<<<<<<< HEAD

  /*box shadow for search box*/
  box-shadow: 2px 2px 2px #303030;

}
=======
  text-shadow: 1px 1px 1px black;

  box-shadow: 2px 2px 2px black;

}

>>>>>>> master
.listingWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding:10px;
  background-color: #99ccff;
  color:white;
  border: 1px solid #80bfff;
  margin-top: 10px;
  text-shadow: 3px 3px 3px #80bfff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #66b3ff;
}
.listingAttribute{
  width:100%;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.navflexwrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;


<<<<<<< HEAD
}
.hometitle {
  /*background-color: #99ccff;*/
  background-color: #DCDCDC;
=======



}
.hometitle{
  background-color: #99ccff;
>>>>>>> master
  color:white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width:100%;
<<<<<<< HEAD
  border: 1px solid #696969;
  margin-top: 10px;
  text-shadow: 3px 3px 3px #696969;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #696969;
=======
  border: 1px solid #80bfff;
  margin-top: 10px;
  text-shadow: 3px 3px 3px #80bfff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #66b3ff;
>>>>>>> master

}

.searchBar{
<<<<<<< HEAD
  border:1px solid #DCDCDC;
=======
  border:1px solid #80bfff;
>>>>>>> master
  width:70%;
  padding:10px;
  height:45px;
  box-sizing: border-box;
  font-size: 14pt;

  margin-right: 6px;
  border-radius: 6px;

<<<<<<< HEAD
  box-shadow: 1px 1px 1px #696969;
=======
  box-shadow: 1px 1px 1px #66b3ff;
>>>>>>> master

}
.searchBar:focus{
  background-color: #66b3ff;
  text-shadow: 3px 3px 3px #4da6ff;
  border: 1px solid white;
  color: white;
  outline:none;
}

.homeSearchBar{

  width:65%;

  background-color: #99ccff;
  border: 1px solid #80bfff;
  text-align: center;
  padding:25px;
  height: 75px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:24px;

  box-shadow: 2px 2px 2px #66b3ff;

}
.loginStyle{
  background-color: #99ccff;
  width:75%;
  border: 1px solid #80bfff;
  text-align: center;
  padding:25px;
  height: 75px;

  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:24px;

  box-shadow: 2px 2px 2px #66b3ff;

  flex-flow: row wrap;

}
.loginField{
  width: 1 100%;
  padding:10px;
  height:45px;
  box-sizing: border-box;
  font-size: 14pt;



  display:flex;
  align-items: center;
  justify-content: center;


}

.searchButton{
<<<<<<< HEAD
  border:1px solid #3399ff;
=======
  border:1px solid #4da6ff;
>>>>>>> master
  width:10%;
  background-color: #66b3ff;
  color: white;
  font-size: 14pt;
  height:45px;
  box-sizing: border-box;

  text-shadow: 3px 3px 3px #4da6ff;

  margin-left: 6px;
  border-radius: 6px;

  box-shadow: 1px 1px 1px #3399ff;
}
.linkButton{

<<<<<<< HEAD
    /*border:1px solid #3399ff;*/
    width:15%;
    /*green search button*/
    background-color: #009933;
=======
    border:1px solid #4da6ff;
    width:15%;
    background-color: #66b3ff;
>>>>>>> master
    color: white;
    font-size: 12pt;
    height:45px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;

<<<<<<< HEAD
    text-shadow: 3px 3px 3px #3399ff;
=======
    text-shadow: 3px 3px 3px #4da6ff;
>>>>>>> master

    margin-left: 6px;
    border-radius: 6px;

<<<<<<< HEAD
    box-shadow: 1px 1px 1px #4169E1;
=======
    box-shadow: 1px 1px 1px #3399ff;
>>>>>>> master

}

.newListingForm{
  background-color: white;
  width:75%;
  border: 3px solid blue;
  text-align: center;
  padding:25px;
  margin-top: 10px;

}


.navLink{
  flex: 1;
<<<<<<< HEAD
  background-color: #00B4FF;
=======
  background-color: #66b3ff;
>>>>>>> master
  text-align: center;
  vertical-align: middle;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
<<<<<<< HEAD

  box-shadow: 5px 5px 5px #696969;

  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 1px solid #003366;
=======
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 1px solid black;
  text-shadow: 1px 1px 1px black;
>>>>>>> master

}
.navLinkMiddle{
  width:33.33%;
<<<<<<< HEAD
  background-color: #00B4FF;
=======
  background-color: #66b3ff;
>>>>>>> master
  text-align: center;
  vertical-align: middle;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;


  border-left:1px solid #80bfff;
  border-right:1px solid #80bfff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

}

.navLink:hover, .navLinkMiddle:hover{
  background-color: #003366;
}
<<<<<<< HEAD

/*----footer CSS-----*/

.footer {
  position: absolute;
  clear: both;
  background-color: #4169E1;
  padding: 5px 5px 5px 5px;
  color: white;
  bottom: 10px;
  text-align: center;
  position: absolute;
  bottom:0;
  height: 50px; /*height of the footer*/
  width: 100%;

}


=======
>>>>>>> master
